extends ../../layout

block assets
    title Reset password

block content
    include ../../includes/paginateMixin
    +paginate(['Home', 'Reset'])

    .reset
        .container.my-pad
            .login__head Reset password

            div.input
                input(required).input__elem
                label.input__label
                    span Email
                    span.red *
                .input__line

            .row.space-between.my-pad.w-100
                div
                button.check__but Reset
