.container
    .check.my-pad
        .check__box
            b.check__head.mb-10 Cart Total

            .check__subtotal.mb-10.row.space-between
                .check__subtotal-head Subtotal:
                .check__subtotal-price $165.00

            .check__shipping.mb-10.row.space-between
                .check__shipping-head Shipping:
                .check__shipping-list FREE SHIPPING

            hr

            .check__result.mb-10.row.space-between
                .check__result-head Total
                .check__result-price $165.00

        button.check__but.my-pad Checkout
