.info.py-pad
    .container
        .info__links
            button.info__home.but.but_outline Continue shop
            button.info__settings.but.but_outline Settings

        .info__image.my-pad
            img(src="image/ava.png").info__photo

        .info__fields
            .info__field Name: Yuri Prisyazhny
            .info__field Email: cssuperpy@gmail.com

        hr
