.container
    .myFavorites.my-pad
        h3 My favorites

        .table
            .table__head
                .table__head-item ID
                .table__head-item Name

            .table__content
                .table__row
                    .table__col #43534455
                    .table__col TShirt

    button.reviews__but View all
