.billing.py-pad
    .container.w-50
        .login__head Create category

        .billing__form

            div.input
                input(required).input__elem
                label.input__label
                    span Name
                    span.red *
                .input__line

            .row.space-between.my-pad.w-100
                div
                button.check__but Create
