.info.py-pad
    .container
        .info__image.my-pad
            img(src="/image/ava.png").info__photo

        .info__fields
            .info__field Name: Yuri Prisyazhny
            .info__field Email: cssuperpy@gmail.com
