@import "../../includes/main";

//general styles

*, *::after, *::before{
    box-sizing: border-box;
}

html{
    font-size: $size;
}

body{
    padding: 0;
    margin: 0;

    height: 100vh;
    width: 100%;

    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 300;

    overflow-x: hidden;
}

.container{
    width: 75%;
    max-width: 1200px;

    margin: 0 auto;
}

.mb-10{
    margin-bottom: 10px;
}

.cur{
    cursor: pointer;
}

.row{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.ml-1{
    margin-left: 1rem;
}

.mr-1{
    margin-right: 1rem;
}

.mt-2{
    margin-top: 2rem;
}

a{
    color: inherit;
    text-decoration: none;
}

.m-pad{
    margin: $pad;
}

.my-1{
    padding: 1rem 0;
}

.m-0{
    margin: 0;
}

.ml-10{
    margin-left: 10px;
}

.ml-2{
    margin-left: 2rem;
}

.py-pad{
    padding: $pad 0;
}

.my-pad{
    margin: $pad 0;
}

.my-1{
    margin: 1rem 0;
}

.mt-pad{
    margin-top: $pad;
}

.mb-pad{
    margin-bottom: $pad;
}

.mx-pad{
    margin: 0 $pad;
}

.pr-1{
    padding-right: 1rem;
}

.pl-1{
    padding-left: 1rem;
}

.red{
    color: $red;
}

.d-block{
    display: block;
}

.text-muted{
    color: $qText;
}

.h-0{
    height: 0;
    overflow: hidden;

    transition: .3s;
}

.hidden{
    opacity: 0;
    transition: .3s;

    display: none;
}

.pull-right{
    @include flex(flex-end, center);
}

.w-100{
    width: 100%;
}

.w-50{
    width: 50%;
}

.w-25{
    width: 25%;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;

    &_block{
        @include flex(center, center, column);
    }
}

.sm{
    padding: 3px 5px !important;
    font-size: 1rem;
}

.mt-10{
    margin-top: 10px;
}

.mb-1{
    margin-bottom: 1rem;
}

.text-muted{
    color: $textGray;
}

.menu__list{
    list-style: none;
    padding: 0;

    color: #000;
}

.menu__item{
    width: 100%;
    padding: 10px 0;

    position: relative;

    &::before{
        content: '';

        display: block;
        position: absolute;
        left: 0;
        top: 100%;

        width: 0;
        height: 1px;

        background: $red;

        transition: .3s;
    }

    &:hover::before{
        width: 100%;
    }
}

.but{
    @extend %button;

    margin-top: 20px;
    padding: 10px 40px;

    &_outline{
        background: transparentize($red, 1) !important;
        color: $red !important;

        border: 1px solid $red !important;

        &:hover{
            background: transparentize($red, 0) !important;
            color: #fff !important;
        }
    }

    &_fill{
        color: #fff;
        background: $red;

        &:hover{
            background: darken($red, 15%);
        }
    }
}

.reviews__mark{
    max-width: 100%;
}

.bold{
    font-weight: bold;
}
