@import "../../includes/main";

.images{
    @include flex(center, center, row, wrap);

    width: 100%;

    &__item{
        margin: 1rem;
    }
}

.colors{
    @include flex(flex-start, center, row, wrap);

    margin-top: $pad/2;

    padding-left: 1rem;

    &__item{
        margin-right: $pad/2;

        text-align: center;
        line-height: 25px;

        color: #fff;
    }

    &__add{
        display: block;

        background: $red;
        border: none;
        outline: none;

        text-align: center;
        line-height: 25px;

        color: #fff;
    }
}

.period{
    @media all and(max-width: 500px){
        flex-direction: column;

        .ml-1{
            margin-left: 0;
        }
    }
}


@media all and(max-width: 319px){
    .admin__products__select{
        width: 100%;
    }
}
