mixin paginate(pages)
    .paginate
        .container
            .paginate__content
                .paginate__name SHOP SIDEBAR
                .paginate__path

                    each page in pages
                        a(href='#').paginate__item=page

