doctype
html(lang="en")
    head
        link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet")
        link(href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" rel="stylesheet" type="text/css")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet" type="text/css")

        link(href="/css/bundle.css" rel="stylesheet" type="text/css")

        meta(name="viewport" content="width=device-width, initial-scale=1")

        block assets

    body
       include blocks/profile/header

       .admContent
           block content

       include blocks/profile/footer
       include blocks/copy

       script(src="/js/bundle.js")
