.review-info.py-pad
    .review-info__item
        .review-info__head Author
        .review-info__content
            a(href="#") Yuri Prisyazhny

    .review-info__item
        .review-info__head Product
        .review-info__content
            a(href="#") TShirt

    .review-info__item
        .review-info__head Mark
        .review-info__content
            include ../../../../../includes/reviews_mark.html

    .review-info__item.review-info__item_column
        .review-info__head.mb-1 Text
        .review-info__content
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias autem, consequuntur doloremque quae rem! At esse incidunt magnam quae quis quos soluta vitae. Ducimus excepturi illum inventore nam vitae.

    .review-info__item
        .review-info__head Date of publication
        .review-info__content 20.03.2020

    .review-info__item
        .review-info__head Raiting
        .review-info__content +10
