.tabs
    .tabs__items
        a(href="#likes").tabs__item.tabs__item_active Likes (32)
        a(href="#dislikes").tabs__item Dislikes (22)

    .tabs__content
        .tabs__content-item.tabs__content-item_active#likes
            .likes
                a(href="#").likes__item
                    .likes__ava
                        img(src="/image/ava.png").likes__img
                    .likes__name
                        | Yura Prisyazhny

                a(href="#").likes__item
                    .likes__ava
                        img(src="/image/ava.png").likes__img
                    .likes__name
                        | Yura Prisyazhny

                a(href="#").likes__item
                    .likes__ava
                        img(src="/image/ava.png").likes__img
                    .likes__name
                        | Yura Prisyazhny

                .center.w-100
                    button.but.but_fill Load more

        .tabs__content-item#dislikes
            .likes
                a(href="#").likes__item
                    .likes__ava
                        img(src="/image/ava.png").likes__img
                    .likes__name
                        | Yura Prisyazhny

                a(href="#").likes__item
                    .likes__ava
                        img(src="/image/ava.png").likes__img
                    .likes__name
                        | Yura Prisyazhny

                a(href="#").likes__item
                    .likes__ava
                        img(src="/image/ava.png").likes__img
                    .likes__name
                        | Yura Prisyazhny

                .center.w-100
                    button.but.but_fill Load more
