extends ../../layout

block assets
    title Product page

block content
    include ../../includes/paginateMixin
    +paginate(['Home', 'Products', 'Men', 'Biker hoodie'])

    include components/product
    include components/reviews
    include components/related
