.goods__items
    .goods__head
        .goods__head-count.
            Showing 1-9 of 21 products
        .select.cur
            select.select__input.cur
                option(selected) Featured products
                option All

            i.fas.fa-chevron-down.select__icon
            .select__line

    .goods__list
        .goods__list-product
            a(href='#' style='width:100%')
                img(src="image/product.png").goods__list-photo

            .goods__list-info
                .goods__list-name The Frog T-Shirt
                .goods__list-price
                       |$30 -
                       s $50

            .goods__list-sale Sale


        .goods__list-product
            a(href='#' style='width:100%')
                img(src="image/product.png").goods__list-photo

            .goods__list-info
                .goods__list-name The Frog T-Shirt
                .goods__list-price
                    | $30 -
                    s $50

            .goods__list-sale Sale


        .goods__list-product
            a(href='#' style='width:100%')
                img(src="image/product.png").goods__list-photo

            .goods__list-info
                .goods__list-name The Frog T-Shirt
                .goods__list-price
                    | $30 -
                    s $50

            .goods__list-sale Sale

    .goods__list-load
        button.goods__list-more Load More
