.goods__form
    .goods__form-head
        | Product Categories

    .goods__categories
        ul.goods__categories-list
            li.goods__categories-item
                .checkbox
                    label.checkbox__label
                        input(type = "checkbox" name="create").checkbox__elem
                        span T-Shirt test

            li.goods__categories-item
                .checkbox
                    label.checkbox__label
                        input(type = "checkbox" name="create").checkbox__elem
                        span T-Shirt test

            li.goods__categories-item
                .checkbox
                    label.checkbox__label
                        input(type = "checkbox" name="create").checkbox__elem
                        span T-Shirt test

    .goods__form-head
        | Filter by color

    .goods__color
        .goods__color-item.goods__color-item_red
        .goods__color-item.goods__color-item_green
        .goods__color-item.goods__color-item_blue
        .goods__color-item.goods__color-item_purple.goods__color-item_active
        .goods__color-item.goods__color-item_yellow
        .goods__color-item.goods__color-item_black

    .goods__form-head
        | Filter by size

    ul.goods__size
        li.goods__size-item XS
        li.goods__size-item.goods__size-item_active S
        li.goods__size-item M
        li.goods__size-item L
        li.goods__size-item XL

    .goods__form-head
        | Filter by price

    .goods__price
        .goods__price-point.left
        .goods__price-indicator
        .goods__price-point.right

    .goods__price-range Price: $5 - $100

    button.goods__form-button Filter
