.container
    .billing.my-pad
        .login__head Sign in

        .billing__form
            div.input
                input(required).input__elem
                label.input__label
                    span First Name
                    span.red *
                .input__line

            div.input
                input(required).input__elem
                label.input__label
                    span Last Name
                    span.red *
                .input__line

            div.input
                input(required).input__elem
                label.input__label
                    span Email Address
                    span.red *
                .input__line

            div.input
                input(required type="password").input__elem
                label.input__label
                    span Password
                    span.red *
                .input__line

            div.input
                input(required type="password").input__elem
                label.input__label
                    span Password confirmation
                    span.red *
                .input__line

        .row.space-between.my-pad.w-100
            div
            button.check__but Sign in
