extends ../../layout

block assets
    title Login

block content
    include ../../includes/paginateMixin
    +paginate(['Home', 'Login'])

    .container
        .login.my-pad
            .login__head Login

            div.input
                input(required).input__elem
                label.input__label
                    span First Name
                    span.red *
                .input__line

            div.input
                input(required).input__elem
                label.input__label
                    span First Name
                    span.red *
                .input__line

            .row.space-between.my-pad.w-100
                div
                button.check__but Login
