.stats.py-pad
    .stats__head Statistic for day

    .table__wrap.w-100
        .table
            .table__content
                .table__row
                    .table__col Total orders
                    .table__col 25

                .table__row
                    .table__col Total items
                    .table__col 46

                .table__row
                    .table__col Total price
                    .table__col $945.34

                .table__row
                    .table__col Max order price
                    .table__col $210.34
