extends ../../layout

block assets
    title Cart

block content
    include ../../includes/paginateMixin
    +paginate(['Home', 'Cart empty'])

    .empty.my-pad
        .container
            .empty__text Your cart is current empty
            a(href='/main.html')
                button.empty__back Return to shop
