extends ../../layout

block assets
    title Categories

block content
    include ../../includes/paginateMixin
    +paginate(['Home', 'Categories'])

    .container
        .categories.my-pad
            a(href='#').categories__item
                img(src="image/product.png").categories__img
                .categories__products 307 products

            a(href='#').categories__item
                img(src="image/product.png").categories__img
                .categories__products 307 products

            a(href='#').categories__item
                img(src="image/product.png").categories__img
                .categories__products 307 products

            a(href='#').categories__item
                img(src="image/product.png").categories__img
                .categories__products 307 products

            a(href='#').categories__item
                img(src="image/product.png").categories__img
                .categories__products 307 products

            a(href='#').categories__item
                img(src="image/product.png").categories__img
                .categories__products 307 products
