//global variables

$red: #f24421;
$gray: #333333;
$textGray: #adadad;
$silver: #e5e5e5;
$saleGreen: #40b322;
$soldYellow: #f5cc2a;
$lightGray: #f2f2f2;
$qText: darken(#cacaca, 40%);

$prodColors:'blue', 'green', 'red', 'yellow', 'purple', 'black';

$size: 16px;
$bigSize: 18px;
$headSize: 30px;

$pad: 40px;
