.reviews-list{
    &__item{
        @media all and(max-width: 600px){
            flex-direction: column;
            align-items: center;
        }

        padding: 20px 0;

        border-bottom: 1px solid $textGray;

        &-footer{
            @include flex(space-between);
            color: $textGray;

            @media all and(max-width: 319px){
                flex-direction: column;
                align-items: center;
            }
        }

        &-mark{
            cursor: pointer;
        }

        &-mark>*{
            margin: 0 5px;
        }
    }

    &__name{
        font: {
            weight: 700;
            size: 1.2rem;
        }

        width: 100%;

        @include flex(space-between, center);

        & p{
          margin: 0;
        }
    }

    &__icon{
        margin-left: 10px;

        cursor: pointer;
        transition: .3s;

        &:hover{
            color: $red;
        }
    }
}

:target + .reviews-list__item{
    border-bottom: 1px solid $red;
}

.load{
    @include flex(center, center);

    &__more{
        @media all and(max-width: 319px){
            padding: 10px;
        }

        @extend %button;

        padding: 10px 40px;

        background: $red;

        transition: .3s;

        &:hover{
            background: darken($red, 15%);
        }
    }
}
