.footer
    .container
        .footer__content
            .footer__info
                img(src="./image/logo.png").footer__logo
                .footer__info-content
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam cumque debitis deleniti doloribus earum error id iure, laborum neque nisi odit, possimus quaerat temporibus totam. Aspernatur atque corporis ut!

            .footer__links
                .footer__links-head Useful links

                ul.footer__links-list
                    a(href='#').footer__links-item
                        li Home

                    a(href='#').footer__links-item
                        li Checkout

                    a(href='#').footer__links-item
                        li My account

                    a(href='#').footer__links-item
                        li Man fashion

                    a(href='#').footer__links-item
                        li Women fashion

                    a(href='#').footer__links-item
                        li Cart

            .footer__contacts
                .footer__links-head Contact us

                .footer__contacts-list
                    .footer__contacts-item
                        i.fas.fa-envelope
                        a(href='mailto:cssuperpy@gmail.com').footer__contacts-link cssuperpy@gmail.com

                    .footer__contacts-item
                        i.fas.fa-phone-alt
                        a(href='tel:+7043345544').footer__contacts-link +7043345435543

                    .footer__contacts-item
                        i.fas.fa-link
                        a(href='#').footer__contacts-link htmlprogrammer.ru

    include ../copy
