.subscribe
    .container
        .subscribe__wrap
            .subscribe__content
                .subscribe__head Newsletter
                .subscribe__desc Get timely updates from your favorite products

                .subscribe__form
                    .subscribe__form-wrap
                        i.fas.fa-envelope.subscribe__icon
                        input(placeholder="Enter your email").subscribe__email

                    .subscribe__but
                        i.fas.fa-paper-plane
