.order
    .order__quantity
        b.order__quantity-head Quantity:
        span(contenteditable='').order__quantity-count 1

    .order__actions.row.mt-2
        .order__like
            i.fas.fa-heart

        .order__add Add to cart
