.related
    .container
        .related__head Related Products

        .goods__list
            .goods__list-product
                a(href='#' style='width:100%')
                    img(src="image/product.png").goods__list-photo

                .goods__list-info
                    .goods__list-name The Frog T-Shirt
                    .goods__list-price
                        | $30

            .goods__list-product
                a(href='#' style='width:100%')
                    img(src="image/product.png").goods__list-photo

                .goods__list-info
                    .goods__list-name The Frog T-Shirt
                    .goods__list-price
                        | $30

            .goods__list-product
                a(href='#' style='width:100%')
                    img(src="image/product.png").goods__list-photo

                .goods__list-info
                    .goods__list-name The Frog T-Shirt
                    .goods__list-price
                        | $30 -
                        s $50

                .goods__list-sale Sale
