.container
    .myOrders.py-pad

        h3 Users

        .myOrders__header.my-pad
            span.myOrders__find
                .input
                    input(type="text" required="").input__elem
                    label.input__label Find user

            a(href="create.html")
                button.but.but_outline Create

        .myOrders__types.my-pad
            .radio
                label.row
                    input(type="radio" name="filter").radio__elem
                    span.radio__label All

            .radio
                label.row
                    input(type="radio" name="filter").radio__elem
                    span.radio__label User

            .radio
                label.row
                    input(type="radio" name="filter").radio__elem
                    span.radio__label Moderator

            .radio
                label.row
                    input(type="radio" name="filter").radio__elem
                    span.radio__label Admin

        .table__wrap
            .table
                .table__head
                    .table__head-item ID
                    .table__head-item Ava
                    .table__head-item Name
                    .table__head-item Email
                    .table__head-item Role
                    .table__head-item Actions

                .table__content
                    .table__row
                        .table__col #1
                        .table__col
                            img(src="/image/product.png")

                        .table__col Yuri Prisyazhny
                        .table__col cssuperpy@gmail.com
                        .table__col User
                        .table__col
                            i.fas.fa-times.cur

                            a(href="show.html")
                                i.fas.fa-eye.cur.ml-10

                            a(href="edit.html")
                                i.fas.fa-pencil-alt.cur.ml-10

                            i.fas.fa-ban.cur.ml-10

    .pagination.mb-pad
        .pagination__item.pagination__item_disabled Prev
        .pagination__item.pagination__item_active 1
        .pagination__item 2
        .pagination__item 3
        .pagination__item Next
