extends ../../../../adminLayout

block assets
    title Admin | Product page

block content
    .container
        include ./components/info
        include ./components/tabs
        .mt-2
            include ./components/diagram
